@import '~@angular/material/_theming.scss';
:host {
    z-index: 900;
    @include mat-elevation(4);
}

.title {
    font-weight: 500;
    font-size: 17px;
    img {
        height: 24px;
        margin-right: 7px;
        margin-bottom: 2px;
    }
}

.active {
    background-color: rgb(201, 46, 42);
}

a {
    // font-weight: 400;
    opacity: 0.87;
    font-size: 15px;
    margin: 0 6px;
    font-weight: 400;
}

.spacer {
    flex: 1 1 auto;
}