<mat-toolbar class="site-header" color="primary">
  <a class="toolbar-button" mat-button routerLink="/home">
      <img #icon src="./assets/images/detector.png">DetectorVendor
  </a>
  <a class="toolbar-button" mat-button routerLink="/aboutme" routerLinkActive="active">Обо мне</a>
  <a class="toolbar-button" mat-button routerLink="/news" routerLinkActive="active">Новости</a>
  <a class="toolbar-button" mat-button routerLink="/shop" routerLinkActive="active">Каталог товаров</a>
  <a class="toolbar-button" mat-button routerLink="/contacts" routerLinkActive="active">Контакты</a>
  <span class="spacer"></span>
  <a class="toolbar-button" mat-button routerLink="/cart" routerLinkActive="active">
      <img #icon src="./assets/images/cart.png">Корзина</a>
</mat-toolbar>
